@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1e3c25;
    text-decoration: none;  
}

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
}

footer {
    background-color: #1e3c25;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.logo {
    cursor: pointer;
    width: 80%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease;
}

.nav_links li a:hover {
    color: #83b048;
}

button {
    all: unset;
    padding: 9px 25px;
    background-color: rgba(131, 176, 72, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(30, 60, 37, 0.8);
    color: #f4fcec;
}

.contentAbout {
    text-align: center;
    padding: 40px 20px;
    background-color: transparent;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 60px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.contact-item img.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.contact-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.history {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 30px;
}

.VisionMissionContainer {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 170px; 
    width: 90%;
    max-width: 1200px;
    margin: 0px auto 0; 
}

.Vision, .Mision {
    background-color: transparent;
    padding: 0px;
    width: 45%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Vision h1, .Mision h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.Vision p, .Mision p {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
}

.OwnersContainer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
}

.OwnersContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.OwnersImages {
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.OwnerImage {
    text-align: center;
    max-width: 150px; 
}

.OwnerImage img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.OwnerImage p {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger .bar {
    height: 4px;
    background-color: #1e3c25;
    border-radius: 2px;
}

@media (max-width: 1270px) {
    .modal {
        z-index: 999;
    }
    .modal-content {
        width: 90%;
        padding: 20px;
    }

    .contact-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-item img.contact-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contact-item p {
        font-size: 0.9rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        top: 33px;
        left: 30px;
        z-index: 20;
    }

    .hamburger .bar {
        height: 4px;
        background-color: #1e3c25;
        border-radius: 2px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10%;
    }

    .logo {
        margin-top: 3px;
        max-width: 60%;
        margin-left: 20%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .cta {
        position: absolute;
        right: 10px;
        top: 28px;
    }

    .cta button {
        margin-top: 2px;
        max-width: 60%;
        width: 30%;
        font-size: 70%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;    
        text-align: center;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        transition: all 0.3s ease;
    }

    .nav_links.active {
        display: flex;
    }

    .nav_links li {
        padding: 15px 0;
    }

    .nav_links li a {
        padding: 15px;
        font-size: 18px;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav_links li a:hover {
        background-color: #83b048;
        color: white;
        border-radius: 4px;
    }
    .VisionMissionContainer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .Vision, .Mision {
        width: 80%; /
    }

    .Vision h1, .Mision h1 {
        font-size: 1.5rem;
    }

    .Vision p, .Mision p {
        font-size: 1rem; 
    }

    .OwnersImages {
        flex-direction: row; 
        gap: 20px;
    }

    .OwnerImage {
        max-width: 150px; 
    }

    .OwnerImage img {
        width: 80%; 
        border-radius: 50%; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .OwnerImage p {
        font-size: 1rem; 
    }
}